<!--
  Generated template for the PostViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{store.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="http://localhost:9090/users/img/{{store.img}}">
      </ion-avatar>
      <h2>{{post.name}}</h2>
      <p>{{post.date | date}}</p>
    </ion-item>

    <div *ngFor="let image of post.img">
      <img src="http://localhost:9090/users/img/{{image}}"><br/>
    </div>

    <ion-card-content>
      <p>{{post.description}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col *ngIf="likeFound == false">
        <button ion-button icon-start clear small (click)="like()">
          <ion-icon name="thumbs-up" style="color: black"></ion-icon>
          <div style="color: black">{{post.like}} Likes</div>
        </button>
      </ion-col>
      <ion-col *ngIf="likeFound == true">
        <button ion-button icon-start clear small (click)="like()">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{post.like}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small (click)="comment()">
          <ion-icon name="text"></ion-icon>
          <div>{{commentlength}} Comments</div>
        </button>
      </ion-col>
    </ion-row>
    <div *ngIf="commentView == true">
      <ion-card-content *ngFor="let comment of comments">
        <ion-item>
          <ion-avatar item-start>
            <img src="http://localhost:9090/users/img/{{comment['userid'].img}}">
          </ion-avatar>
          <h2>{{comment["userid"].username}}</h2>
          <p>{{comment.content}}</p>
        </ion-item>
      </ion-card-content>
      <button item-end ion-button icon-end clear small (click)="loadback()" *ngIf="showLoad == true && showback == true" >
          <div>show back</div>
      </button>
      <button item-end ion-button icon-end clear small (click)="loadmore()" *ngIf="showLoad == true" >
          <div>show more</div>
      </button>
      <ion-textarea placeholder="enter your comment" [(ngModel)]="comment_msg"></ion-textarea>
      <button item-end ion-button icon-end clear small (click)="addcomment()" >
          <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </ion-card>
</ion-content>