<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list-header *ngIf=" searchActivted == false ">Mood</ion-list-header>
  <ion-list no-lines *ngIf=" searchActivted == false ">
    <button ion-item *ngFor="let mood of Moods" (click)="moodSelected(mood)">
      <ion-avatar item-start>
        <img src={{mood.img}}>
      </ion-avatar>
      <h2>{{mood.name}}</h2>
    </button>
  </ion-list>
  <ion-list-header *ngIf=" searchActivted == false ">Place</ion-list-header>
  <ion-list no-lines *ngIf=" searchActivted == false ">
      <button ion-item *ngFor="let place of Places" (click)="placeSelected(place)">
        <ion-avatar item-start>
          <img src={{place.img}}>
        </ion-avatar>
        <h2>{{place.name}}</h2>
      </button>
    </ion-list>
    <ion-list *ngIf=" searchActivted == true ">
        <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
            <ion-avatar item-start>
              <img src="http://10.140.200.166:9090/stores/img/?img={{item.img}}">
            </ion-avatar>
            <h2>{{item.name}}</h2>
          </button>
      </ion-list>
</ion-content>