<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list-header *ngIf=" searchActivted == false ">Mood</ion-list-header>
  <ion-list no-lines *ngIf=" searchActivted == false ">
    <button ion-item *ngFor="let mood of Moods" (click)="itemSelected(mood.name)">
      <ion-avatar item-start>
        <img src={{mood.img}}>
      </ion-avatar>
      <h2>{{mood.name}}</h2>
    </button>
  </ion-list>
  <ion-list-header *ngIf=" searchActivted == false ">Place</ion-list-header>
  <ion-list no-lines *ngIf=" searchActivted == false ">
      <button ion-item *ngFor="let place of Places" (click)="placeSelected(place.name)">
        <ion-avatar item-start>
          <img src={{place.img}}>
        </ion-avatar>
        <h2>{{place.name}}</h2>
      </button>
    </ion-list>
    <ion-list *ngIf=" searchActivted == true ">
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>
</ion-content>