<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button icon-only>
      <ion-icon name="home">Home </ion-icon>
    </button>
    <!--  block (click)="doPrompt()" -->
    <button ion-button color="light" block (click)="doPrompt()">
        <ion-icon name="heart" style="color: #cc2d2d;">Yalla </ion-icon> 
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="cat">
      <ion-segment-button value="rest">
        <ion-icon name="md-restaurant" style="color: black;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="cafe">
        <ion-icon name="cafe" style="color: black;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="shop">
        <ion-icon name="basket" style="color: black;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="gym">
        <img src="assets/imgs/img/gymIcon.png" style="width:50px;height: 25px;">
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="cat" *ngIf=" searchActivated == false ">
    <ion-list *ngSwitchCase="'gym'">
      <button ion-item *ngFor="let gymItem of gyms" (click)="itemSelected(gymItem)">
        <ion-avatar item-start>
          <img src="http://10.140.200.166:9090/stores/img/?img={{gymItem.img}}" class="itemImg">
        </ion-avatar>
        <h2>{{gymItem.name}}</h2>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'rest'">
      <button ion-item *ngFor="let restItem of rests" (click)="itemSelected(restItem)">
        <ion-avatar item-start>
          <img src="http://10.140.200.166:9090/stores/img/?img={{restItem.img}}">
        </ion-avatar>
        <h2>{{restItem.name}}</h2>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'cafe'">
      <button ion-item *ngFor="let cafeItem of cafes" (click)="itemSelected(cafeItem)">
        <ion-avatar item-start>
          <img src="http://10.140.200.166:9090/stores/img/?img={{cafeItem.img}}">
        </ion-avatar>
        <h2>{{cafeItem.name}}</h2>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'shop'">
      <button ion-item *ngFor="let shopItem of shops" (click)="itemSelected(shopItem)">
        <ion-avatar item-start>
          <img src="http://10.140.200.166:9090/stores/img/?img={{shopItem.img}}" >
        </ion-avatar>
        <h2>{{shopItem.name}}</h2>
      </button>
    </ion-list>
  </div>
  <ion-list *ngIf=" searchActivated == true ">
      <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
        <ion-avatar item-start>
          <img src="http://10.140.200.166:9090/stores/img/?img={{item.img}}">
        </ion-avatar>
        <h2>{{data.name}}</h2>
      </button>
  </ion-list>
</ion-content>



