<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <!-- <button ion-button icon-only>
      <ion-icon name="home">Home </ion-icon>
    </button> -->
    <!--  block (click)="doPrompt()" -->
    <!-- <button ion-button color="light" block (click)="doPrompt()">
        <ion-icon name="heart" style="color: #cc2d2d;">Yalla </ion-icon> 
    </button> -->
  <!-- </ion-navbar> -->
 <!-- <ion-content padding>
    <h2>Welcome to {{userDetails.name}}</h2>
    <h3>Email: {{userDetails.email}}</h3>
    <button ion-button color="primary" (click)="logout()">Logout</button>
  </ion-content> -->
<!-- </ion-header> --> 
<ion-header>
  <my-header title="Stores" Name={{name}}></my-header>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="cat">
      <ion-segment-button value="rest">
        <ion-icon name="md-restaurant" style="color: black;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="cafe">
        <ion-icon name="cafe" style="color: black;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="shop">
        <ion-icon name="basket" style="color: black;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="gym">
        <img src="assets/imgs/img/gymIcon.png" style="width:50px;height: 25px;">
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="cat" *ngIf=" searchActivated == false ">
    <ion-list *ngSwitchCase="'gym'">
      <div *ngFor="let gymItem of gyms">
        <ion-card>
          <button ion-item (click)="itemSelected(gymItem)">
            <ion-avatar item-start>
              <img src="http://localhost:9090/stores/img/?img={{gymItem.imgcover}}">
            </ion-avatar>
            <h2>{{gymItem.name}}</h2>
            <p>{{gymItem.date | date}}</p>
          </button>
          <img src="http://localhost:9090/stores/img/?img={{gymItem.img}}">
          <ion-card-content>
            <p>{{gymItem.address}}</p>
            <p>{{gymItem.describe}}</p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small (click)="addToFavorite(gymItem)">
                <ion-icon name="star-outline"></ion-icon>
                <div>Favorite</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'rest'">
      <div *ngFor="let restItem of rests">
        <ion-card>
          <button ion-item (click)="itemSelected(restItem)">
            <ion-avatar item-start>
              <img src="http://localhost:9090/stores/img/?img={{restItem.imgcover}}">
            </ion-avatar>
            <h2>{{restItem.name}}</h2>
            <p>{{restItem.date | date}}</p>
          </button>
          <img src="http://localhost:9090/stores/img/?img={{restItem.img}}">
          <ion-card-content>
            <p>{{restItem.address}}</p>
            <p>{{restItem.describe}}</p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small (click)="addToFavorite(restItem)">
                <ion-icon name="star-outline"></ion-icon>
                <div>Favorite</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'cafe'">
      <div *ngFor="let cafeItem of cafes">
        <ion-card>
          <button ion-item (click)="itemSelected(cafeItem)">
            <ion-avatar item-start>
              <img src="http://localhost:9090/stores/img/?img={{cafeItem.imgcover}}">
            </ion-avatar>
            <h2>{{cafeItem.name}}</h2>
            <p>{{cafeItem.date | date}}</p>
          </button>
          <img src="http://localhost:9090/stores/img/?img={{cafeItem.img}}">
          <ion-card-content>
            <p>{{cafeItem.address}}</p>
            <p>{{cafeItem.describe}}</p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small (click)="addToFavorite(cafeItem)">
                <ion-icon name="star-outline"></ion-icon>
                <div>Favorite</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'shop'">
      <div *ngFor="let shopItem of shops">
        <ion-card>
          <button ion-item (click)="itemSelected(shopItem)">
            <ion-avatar item-start>
              <img src="http://localhost:9090/stores/img/?img={{shopItem.imgcover}}">
            </ion-avatar>
            <h2>{{shopItem.name}}</h2>
            <p>{{shopItem.date | date}}</p>
          </button>
          <img src="http://localhost:9090/stores/img/?img={{shopItem.img}}">
          <ion-card-content>
            <p>{{shopItem.address}}</p>
            <p>{{shopItem.describe}}</p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small (click)="addToFavorite(shopItem)">
                <ion-icon name="star-outline"></ion-icon>
                <div>Favorite</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-list>
  </div>
  <ion-list *ngIf=" searchActivated == true ">
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      <ion-avatar item-start>
        <img src="http://localhost:9090/stores/img/?img={{item.img}}">
      </ion-avatar>
      <h2>{{item.name}}</h2>
    </button>
  </ion-list>
</ion-content>